<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="header">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">

                <h2>Add a Birthday</h2>
                <!-- TODO: Create a form for users to submit a name, a month, and a day -->
                 <form action="/" method="post">
                    Name <input type="text" autofocus name="name">
                    Month <input type="text" name="month">
                    Day <input type="number" name="day">
                    <button type="submit">Add</button>
                    </select>

                 </form>
            </div>

            <div class="section">

                <h2>All Birthdays</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birthday</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for birthday in birthdays %}
                        <tr>
                            <td>{{ birthday.name }}</td>
                            <td>{{ birthday.month }}/{{ birthday.day }} </td>
                            <td>
                                <form action="/edit" method="post">
                                    <input type="hidden" name="edited" value="{{ birthday.id }}">
                                    <input type="submit" value="Edit">
                                </form><br>
                                <form action="/delete" method="post">
                                    <input type="hidden" name="deleted" value="{{ birthday.id }}">
                                    <input type="submit" value="Delete">
                                </form>

                            </td>
                        </tr>
                        {% endfor %}
                        <!-- TODO: Loop through the database entries to display them in this table -->
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
